# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.log
*.sqlite3
Pipfile
Pipfile.lock

# Virtual Environments
venv/
.env/

# Node
node_modules/
dist/
*.log
.npm/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Environment Files
.env
.env.*
*.env.*

# Build
dist/
build/
coverage/
*.snap

# OS Files
.DS_Store
Thumbs.db